[submodule "lib/raft"]
	path = lib/raft
	url = https://github.com/willemt/raft.git
[submodule "lib/msgpack-c"]
	path = lib/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "lib/libuv"]
	path = lib/libuv
	url = https://github.com/libuv/libuv.git
